@model CreateViewModel


<form asp-area=@Constants.Areas.Companies asp-controller="Inquiries" asp-action=@nameof(InquiriesController.Create) 
      enctype="multipart/form-data" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <h4>Create new Inquiry</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ReceivedAt" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ReceivedAt" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Customers" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" id="CustomerId" name="CustomerId">
                <option asp-for="CustomerId" value="">Select One</option>
                @foreach (var customer in Model.Customers)
                {
                    <option asp-for="CustomerId" value=@customer.Id>@customer.Name</option>
                }
            </select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Assignees" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" multiple="multiple" id="AssigneesIds" name="AssigneesIds">
                @foreach (var assignee in Model.Assignees)
                {
                    <option asp-for="AssigneesIds" value=@assignee.Id>@assignee.ToString()</option>
                }
            </select>
            <span asp-validation-for="AssigneesIds" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Attachments" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Attachments" class="form-control" type="file" name="Attachments" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>

