<nav class="navbar">
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation">
                <a asp-area=@Constants.Areas.Companies asp-controller="Inquiries" asp-action=@nameof(InquiriesController.Filter) role="tab" ata-toggle="tab">Inquiries</a>
            </li>
            <li role="presentation">
                <a href="#" aria-controls="contracts" role="tab" data-toggle="tab">Contracts</a>
            </li>
            <li role="presentation">
                <a href="#" aria-controls="customers" role="tab" data-toggle="tab">Customers</a>
            </li>
            <li role="presentation">
                <a href="#" aria-controls="offers" role="tab" data-toggle="tab">Offers</a>
            </li>
        </ul>
    </div>
</nav>


