@using Microsoft.AspNetCore.Identity
@using Wilson.Companies.Core.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @if (SignInManager.IsSignedIn(User))
        {            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">My Company</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FirstName!</a>
                        </li>
                        <li>
                            <a asp-area="Companies" asp-controller="Home" asp-action="Index">Company</a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Accouter"))
                        {
                            <li>
                                <a asp-area="Accounting" asp-controller="Home" asp-action="Index">Accounting</a>
                            </li>
                        }                        
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a asp-area="Admin" asp-controller="ControlPanel" asp-action="Index">Admin Panel</a>
                            </li>
                        }
                        <li>                            
                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                        </li>
                    </ul>
                </form>
            </div>            
        }
        else if(UserManager.Users.Any())
        {
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Registration Request</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a></li>
                </ul>
            </div>
        }
        else
        {
            <div class="navbar-header">
                <div class="navbar-brand">Wilson Installation Wizard</div>
            </div>
        }
    </div>
</nav>