@model EmployeeViewModel

<hr />
<div class="form-group">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Email" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Phone" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="PrivatePhone" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="PrivatePhone" class="form-control" />
        <span asp-validation-for="PrivatePhone" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="EmployeePosition" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select class="form-control" asp-for="EmployeePosition" data-val="true" data-val-required="EmployeePosition">
            @foreach (var employeePosition in @Model.EmployeePositions)
            {
                <option value=@employeePosition.Value>@employeePosition.Text</option>
            }
        </select> 
        <span asp-validation-for="EmployeePosition" class="text-danger"></span>
    </div>
</div>

