@model RegisterViewModel

<h2>Register new User</h2>

<form  asp-controller="ControlPanel" asp-action="Register"  method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <hr />
    @Html.EditorFor(x => x.User, "_RegisterUserEdirorTemplate")    
    @Html.EditorFor(x => x.Address, "_AddressEditorTemplate")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>
