<nav class="navbar">
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation">
                <a asp-area=@Constants.Areas.Accounting asp-controller="Home" asp-action=@nameof(HomeController.Payroll) 
                   role="tab" ata-toggle="tab">Payrolls</a>
            </li> 
        </ul>
    </div>
</nav>


