<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Users
    <span class="caret"></span>
</a>
<ul class="dropdown-menu" aria-labelledby="usersDropdownMenu">
    <li><a asp-area="Admin" asp-controller="ControlPanel" asp-action="Register">Register new user</a></li>
    <li><a asp-area="Admin" asp-controller="ControlPanel" asp-action="ShowAllUsers">Show all users</a></li>
</ul>