<div class="container">
    <h4 class="text-primary">Choose one of the following options:</h4>
    <div class="row">
        <a asp-area=@Constants.Areas.Scheduler asp-controller="Payroll" asp-action=@nameof(PayrollController.PreparePayrolls)>Prepare Payrolls?</a>
    </div>
    <div class="row">
        <a asp-area=@Constants.Areas.Scheduler asp-controller="Payroll" asp-action=@nameof(PayrollController.ReviewPaychecks)>Review Payrolls?</a>
    </div>   
</div>

