@model IndexViewModel
<div class="container-fluid">
    <h4 class="text-info">@Model.Message</h4>
</div>
<div class="container">    
    <div class="row">
        <form asp-area=@Constants.Areas.Scheduler asp-controller="Payroll" asp-action=@nameof(PayrollController.PreparePayrolls) method="post" class="form-horizontal">
            <h4 class="text-primary">Create Payroll for the selected period</h4>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Period" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Period" class="form-control">
                        @foreach (var period in Model.PeriodOptions)
                        {
                            <option value=@period.Value>@period.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Create or Update Payroll</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form asp-area=@Constants.Areas.Scheduler asp-controller="Payroll" asp-action=@nameof(PayrollController.PreparePayrolls) method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link">Prepare Payrolls for the current period?</button>
        </form>
    </div>
    <div class="row">
        <a class="btn btn-link" asp-area=@Constants.Areas.Scheduler asp-controller="Payroll" asp-action=@nameof(PayrollController.ReviewPaychecks)>Review Payrolls?</a>
    </div>   
</div>

