<nav class="navbar">
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation">
                <a asp-area=@Constants.Areas.Scheduler asp-controller="Home" asp-action=@nameof(HomeController.EmployeesScheduler) role="tab" ata-toggle="tab">Employees Scheduler</a>
            </li>
            <li role="presentation">
                <a asp-area=@Constants.Areas.Scheduler asp-controller="Home" asp-action=@nameof(HomeController.PayRates) role="tab" data-toggle="tab">Pay Rates</a>
            </li>
            <li role="presentation">
                <a href="#" aria-controls="" role="tab" data-toggle="tab">Projects</a>
            </li>
            <li role="presentation">
                <a href="#" aria-controls="" role="tab" data-toggle="tab">Schedule</a>
            </li>
            <li role="presentation">
                <a href="#" aria-controls="" role="tab" data-toggle="tab">Payrolls</a>
            </li>
        </ul>
    </div>
</nav>


